
<style>
  .container{
    justify-content:center;
    text-align: center;
    margin: 100px;
    padding: 1px;
  }
</style>


<!-- Toolbar -->
<h2>Acciones a Realizar</h2>
<div class="container">
  <button (click)="Listar()" class="btb btn-info">Listar Pasajeros</button>
  <button (click)="Agregar()" class="btb btn-info" style="margin-left: 10px">Agregar Pasajero</button>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>